# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
FBNDP-MLTN/Debug/
FBNDP-MLTN/Input
.vs/FBNDP-MLTN/v16/.suo
.vs/FBNDP-MLTN/v16/Browse.VC.db
*.ipch
*.log
*.tlog
*.idb
*.pdb
*.ilk
Debug/FBNDP-MLTN.exe
FBNDP-MLTN/x64/Debug/utils.obj.enc
FBNDP-MLTN/x64/Debug/FBNDP-MLTN.exe.recipe
FBNDP-MLTN/PopulationData.txt
FBNDP-MLTN/x64/Release/FBNDP-MLTN.exe.recipe
x64/Release/FBNDP-MLTN.iobj
x64/Release/FBNDP-MLTN.ipdb
